@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100&family=Philosopher:wght@400;700&family=Poppins:wght@200;300;400;500;600;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  height: 100vh;
  width: 100%;
  background-color: rgb(246, 242, 242);
}
h1 {
  color: white;
  background-color: black;
  padding: 10px;
  text-align: center;
}
.cdt {
  text-align: center;
  padding: 10px;
}
#currentTime {
  text-align: center;
  padding: 10px;
  font-weight: bold;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 5px 15px;
}
.timeDate {
  display: flex;
  justify-content: center;
  align-items: center;
}
#currentTime #day {
  background-color: rgb(214, 213, 213);
  padding: 5px 10px;
  border-radius: 5px;
}
#currentTime #date {
  background-color: rgb(181, 179, 179);
  padding: 5px 10px;
  border-radius: 5px;
}
#currentTime #time {
  background-color: rgb(214, 213, 213);
  padding: 5px 10px;
  border-radius: 5px;
}
.stopWatch {
  background-color: rgb(246, 242, 242);
  width: 350px;
  margin: 10px auto;
  /* border: 2px solid black; */
  border-radius: 5px;
  padding: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 5px 15px;
}
.stopWatch div {
  text-align: center;
}
.stopWatch div:nth-child(2) {
  border-left: 1px solid rgb(176, 176, 176);
  border-right: 1px solid rgb(176, 176, 176);
}

.btns {
  text-align: center;
}
.btns button {
  padding: 4px 14px;
  background-color: rgb(214, 213, 213);
  outline: none;
  border: none;
  cursor: pointer;
  font-size: 16px;
  transition: 0.4s ease-in-out;
  border-radius: 3px;
  font-weight: bold;
}
.btns button:hover {
  background-color: rgb(140, 140, 140);
}
