* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header {
  width: 100%;
  background-color: #1f40f9;
}
header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}
header nav h1 {
  font-size: 18px;
  color: #1f40f9;
  padding: 8px;
  border-radius: 5px;
  font-size: 20px;
  background-color: white;
  letter-spacing: 5px;
}
header nav i {
  font-size: 18px;
  color: #1f40f9;
  padding: 8px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 20px;
  background-color: white;
}
header nav i:hover {
  border: 1px solid #020936;
}
.add_btn {
  position: fixed;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
}
.add_btn button {
  outline: none;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border-width: 3px;
  border-style: solid;
  border-color: #1f40f9;
  cursor: pointer;
}
.add_btn i {
  font-size: 30px;
  color: #36187e;
}
.form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  height: 400px;
  padding: 10px;
  background-color: #a4acd6;
  border-radius: 10px;
  -webkit-box-shadow: 2px 4px 15px -1px rgba(0, 0, 0, 0.41);
  -moz-box-shadow: 2px 4px 15px -1px rgba(0, 0, 0, 0.41);
  box-shadow: 2px 4px 15px -1px rgba(0, 0, 0, 0.41);
  z-index: 99;
  display: none;
}
.form .btnSet {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.form textarea {
  width: 100%;
  height: 85%;
  border: none;
  padding: 10px;
  resize: none;
}
.form button {
  width: 80px;
  height: 40px;
  border: none;
  outline: none;
  background-color: #1f40f9;
  color: white;
  padding: 10px 20px;
  margin: 7px auto 0 auto;
  display: block;
  cursor: pointer;
  border-radius: 5px;
}
.save_todo {
  display: none;
  background-color: #36187e;
}

#todoList {
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  gap: 10px;
}
.itemBox {
  position: relative;
  width: 300px;
  height: 300px;
  border-radius: 10px;
  -webkit-box-shadow: 2px 4px 15px -1px rgba(0, 0, 0, 0.41);
  -moz-box-shadow: 2px 4px 15px -1px rgba(0, 0, 0, 0.41);
  box-shadow: 2px 4px 15px -1px rgba(0, 0, 0, 0.41);
}
.note_text {
  padding: 10px;
  overflow: hidden;
}
.btn_box {
  width: 100%;
  border-top: 1px solid black;
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}
.btn_box button {
  outline: none;
  border: none;
  background-color: #1f40f9;
  padding: 7px;
  color: white;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}
